#cursor{
  border-left: 2px white solid;
  margin-left: 10px;
  -webkit-animation: switchtext 0.5s infinite alternate;
  -moz-animation: switchtext 0.5s infinite alternate;
  animation: switchtext 0.5s infinite alternate;
}
@-webkit-keyframes switchtext{
  from{opacity: 1.0;}
  to{opacity: 0;}
}
@-moz-keyframes switchtext{
  from{opacity: 1.0;}
  to{opacity: 0;}
}
@keyframes switchtext{
  from{opacity: 1.0;}
  to{opacity: 0;}
}
